{-# LANGUAGE DataKinds #-}
{-# LANGUAGE TypeFamilies #-}
{-# LANGUAGE DeriveGeneric #-}
{-# LANGUAGE TypeOperators #-}
{-# LANGUAGE FlexibleInstances #-}
{-# LANGUAGE OverloadedStrings #-}
{-# OPTIONS_GHC -fno-warn-unused-binds -fno-warn-unused-imports -fcontext-stack={{contextStackLimit}} #-}

{{#operations}}
module {{package}}.{{classname}} (
      {{#operation}}{{operationId}}{{#hasMore}}
    , {{/hasMore}}{{/operation}}
    , proxy{{classname}}
    , {{classname}}
    ) where
{{/operations}}

import GHC.Generics
import Data.Proxy
import qualified Servant.API as Servant
import Network.HTTP.Client (Manager)
import Servant.API ((:<|>)(..),(:>))
import Servant.Common.BaseUrl (BaseUrl(..))
import Servant.Client
import Control.Monad.Except (ExceptT)
import {{package}}.Utils
{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
{{#operation}}
{{#hasFormParams}}
data Form{{#formParams}}{{baseName}}{{/formParams}} = Form{{#formParams}}{{baseName}}{{/formParams}}
    { {{#formParams}}{{baseName}} :: {{dataType}}{{#hasMore}}
    , {{/hasMore}}{{/formParams}}
    } deriving (Show, Eq, Generic)

instance FromFormUrlEncoded Form{{#formParams}}{{baseName}}{{/formParams}} where
    fromFormUrlEncoded inputs = Form{{#formParams}}{{baseName}}{{/formParams}} <$> {{#formParams}} lkp inputs "{{baseName}}"{{#hasMore}} <*> {{/hasMore}}{{/formParams}}
instance ToFormUrlEncoded Form{{#formParams}}{{baseName}}{{/formParams}} where
    toFormUrlEncoded x = [({{#formParams}}(T.pack $ show $ {{package}}.{{classname}}.{{baseName}} x){{#hasMore}}, {{/hasMore}}{{/formParams}})]
{{/hasFormParams}}
{{/operation}}
{{/operations}}

{{#operations}}
type {{classname}} = {{#operation}}{{& vendorExtensions.x-routeType}} -- {{operationId}}{{#hasMore}}
    :<|> {{/hasMore}}{{/operation}}
{{/operations}}

{{#operations}}{{#operation}}
-- | {{& summary}}
{{operationId}} :: {{& vendorExtensions.x-clientType}}
{{/operation}}{{/operations}}

proxy{{classname}} :: Proxy {{classname}}
proxy{{classname}} = Proxy

{{#operations}}

{{#operation}}
{{operationId}}{{#hasMore}}
    :<|> {{/hasMore}}{{/operation}}
    = client proxy{{classname}}
{{/operations}}
