{-# LANGUAGE DataKinds #-}
{-# LANGUAGE TypeFamilies #-}
{-# LANGUAGE DeriveGeneric #-}
{-# LANGUAGE TypeOperators #-}
{-# LANGUAGE FlexibleInstances #-}
module {{apiPackage}}.Apis (
      api
    , API
    ) where

{{#apiInfo}}
{{#apis}}
import {{package}}.{{classname}} ({{classname}})
{{/apis}}
{{/apiInfo}}

import Data.Proxy

type API = {{#apiInfo}}{{#apis}}{{classname}}{{#hasMore}} :<|> {{/hasMore}}{{/apis}}{{/apiInfo}}

api :: Proxy API
api = Proxy
