{-# LANGUAGE DataKinds #-}
{-# LANGUAGE DeriveGeneric #-}
{-# LANGUAGE TypeOperators #-}
{-# LANGUAGE OverloadedStrings #-}
{-# LANGUAGE GeneralizedNewtypeDeriving #-}

{{#models}}
{{#model}}
module {{package}}.{{classname}} where
{{/model}}
{{/models}}

import qualified Data.Aeson
import GHC.Generics
{{#imports}}import {{import}}
{{/imports}}

{{#models}}
{{#model}}

-- | {{& description}}
data {{classname}} = {{classname}}
    { {{#vars}}{{& name}} :: {{datatype}} -- ^ {{& description}} {{#hasMore}}
    , {{/hasMore}}{{/vars}}
    } deriving (Show, Eq, Generic)

instance Data.Aeson.FromJSON {{classname}}
instance Data.Aeson.ToJSON {{classname}}
{{/model}}
{{/models}}
